<configuration>
  <system.webServer>
      <rewrite>
        <rules>
          <rule name="FileExistancePassthrough" stopProcessing="true">
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile"/>
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory"/>
            </conditions>
            <action type="None"/>
          </rule>
          <rule name="OneParameterRewrite" stopProcessing="true">
            <match url="^/?([a-zA-Z_]+)/?$" />
            <action type="Rewrite" url="/?s={R:1}" appendQueryString="true" />
          </rule>
          <rule name="TwoParameterRewrite" stopProcessing="true">
            <match url="^/?([a-zA-Z_]+)/([a-zA-Z_]+)/?$" />
            <action type="Rewrite" url="/?s={R:1}&amp;ss={R:2}" appendQueryString="true" />
          </rule>
          <rule name="NParameterRewrite" stopProcessing="true">
            <match url="^/?([a-zA-Z_/]+)$" />
            <action type="Rewrite" url="/?sss={R:1}" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>