<configuration>
  <system.webServer>
      <rewrite>
        <rules>
          <rule name="FileExistancePassthrough" stopProcessing="true">
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile"/>
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory"/>
            </conditions>
            <action type="None"/>
          </rule>
          <rule name="ZeroParameterRewrite" stopProcessing="true">
            <match url="^/?[\?(.*)]?$" />
            <action type="Rewrite" url="/?{R:1}" />
          </rule>
          <rule name="OneParameterRewrite" stopProcessing="true">
            <match url="^/?([a-zA-Z_]+)/?[\?(.*)]?$" />
            <action type="Rewrite" url="/?s={R:1}&amp;{R:2}" />
          </rule>
          <rule name="TwoParameterRewrite" stopProcessing="true">
            <match url="^/?([a-zA-Z_]+)/([a-zA-Z_]+)/?[\?(.*)]?$" />
            <action type="Rewrite" url="/?s={R:1}&amp;ss={R:2}&amp;{R:3}" />
          </rule>
          <rule name="NParameterRewrite" stopProcessing="true">
            <match url="^/?([a-zA-Z_/]+)[\?(.*)]?$" />
            <action type="Rewrite" url="/?sss={R:1}&amp;{R:2}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>