<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="OneParameterRewrite" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <match url="^/?([a-zA-Z_]+)/?$" />
          <action type="Rewrite" url="/?s={R:1}" appendQueryString="true" />
        </rule>
        <rule name="TwoParameterRewrite" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <match url="^/?([a-zA-Z_]+)/([a-zA-Z_]+)/?$" />
          <action type="Rewrite" url="/?s={R:1}&amp;ss={R:2}" appendQueryString="true" />
        </rule>
        <rule name="NParameterRewrite" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <match url="^/?([a-zA-Z_/]+)$" />
          <action type="Rewrite" url="/?sss={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHPviaFastCGI" />
      <add name="PHPviaFastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.5\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
